font-family: 'Bungee Inline', cursive;
font-family: 'Lustria', serif;
font-family: 'NTR', sans-serif;

/* SCSS HEX */
$linen: #EDE3DDff;
$timberwolf: #D5D0CDff;
$pewter-blue: #9AB2BCff;
$blue-munsell: #508AA1ff;
$charcoal: #2F4856ff;